*{
	font-family:"Segoe UI",Tahoma;
}

.intranet-title{
	font-size:45px;
	margin:0;	
}
.homepage-content{
	max-width: 1620px;
}

body { 
  background: url(../_catalogs/masterpage/images/images/bg-sun.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
	padding:25px;
	margin-right:20px;
	background:#002145;
}
.logo img{
	width:350px;
}

header h2{
	margin:19px 0 0 0;
	line-height:30px;
	font-size:22px;
}

h2{
	margin:0;
}
.toplink{
	display:block;
	line-height:40px;
	color:#effaf0;	
}
.fp-column{
	padding-bottom:50px;
	overflow: hidden;
}
.staff-spotlight-container,
.announcements,
.fp-column{
	height:400px;
}
.staff-spotlight-container img{
	float:right;
	margin:10px 0 0 20px;
}
.border-top{
	/*pale green
	border-top: 5px solid #cbe1d5;*/
	border-top: 5px solid #62A53A;
	padding-top: 10px;
}
/*middle column borders*/
.row .fp-column:nth-child(even):after{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	left: 0; 
	height: 85%; 
	width: 1px;
}
.row .fp-column:nth-child(even):before{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	right: 0; 
	height: 85%; 
	width: 1px;	
}
/*END middle column borders*/
.date{
	display:block;
	margin-left: -5px;
	display: table-cell;
	padding-right:20px;
	color:#888;
}
.details{
	display: table-cell;

}
.announcements li{
	padding-bottom: 5px;
	margin-left:5px;
}
.fp-column .list-unstyled{
	height:275px;
	overflow: hidden;
}
.fp-column li{
	margin:10px 0;
}
.fp-column h2{
	margin-bottom:10px;
	background-image: linear-gradient(to right, #62A53A 30%, rgba(98, 165, 58, 0) 20%);
	background-position: bottom;
	background-size: 8px 2px;
	background-repeat: repeat-x;
	line-height: 40px;
	padding-bottom:5px;
}
.btn{
	border-radius: 0;
}
.btn:hover,
.btn:hover:visited{
	background: #64b63a;
	color:#fff;
	transition:background-color .2s, color .2s;
}
.read-more{
	color:#64b63a;
	border:1px solid #64b63a;
	text-transform: uppercase;
	position:absolute;
	bottom:20px;
}
.read-more:visited{
	color:#64b63a;
}
.fp-column li{
	margin:10px 0;
}
.fp-column h2{
	margin-bottom:10px;
	background-image: linear-gradient(to right, #62A53A 30%, rgba(98, 165, 58, 0) 20%);
	background-position: bottom;
	background-size: 8px 2px;
	background-repeat: repeat-x;
	line-height: 40px;
	padding-bottom:5px;
}
/*SLIDER BEGIN*/
.slider{
	list-style-type: none;
	margin:0;
	padding:0;
}
.slider p{
	background:#ccc;
}
.slider-img{
	width:100%;
}
/*SLIDER END*/

.staff-spotlight-name a{
	color:#002145;
}