*{
	font-family:"Segoe UI",Tahoma;
}

.top-nav{
	background:#FFF;
}
.top-nav form{
	margin-top:3px;
}
header{
	background:#002145;
	color:#FFF;
	margin-bottom:22px
}
header nav{
	display:block;
}
.intranet-title{
	font-size:45px;
	margin:0;
	
}
.homepage-content{
	max-width: 1500px
}
body { 
  background: url(http://localhost/mednet/teams/images/bg-sun.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
	padding:25px;
	margin-right:20px;
	border-right:3px solid white;
	background:#002145;
}
.logo img{
	width:50px;
}
.site-nav{
	background:#effaf0;
	border-top: 5px solid #fff;
}
.navbar-nav a{
	color:#0c5e79;
	font-size:18px;
	font-family:"Segoe UI",Tahoma;
	text-transform: uppercase;
}
header h2{
	margin:19px 0 0 0;
	line-height:30px;
	font-size:22px;
}

h2{
	margin:0;
}
.toplink{
	display:block;
	line-height:40px;
	color:#effaf0;	
}

.slider .bx-wrapper {
	margin-bottom:31px;
	margin-top:31px;
}
.bx-slider{
	padding:0;
}
.slider .bx-wrapper .bx-viewport{
	margin-top:30px;
	border:0;
}
.slider-img{
	width:100%;
}
.staff-spotlight-container,
.announcements,
.slider{
	height:400px;
}
.staff-spotlight-container img{
	float:right;
	margin:10px 0 0 20px;
}
.border-top{
	/*pale green
	border-top: 5px solid #cbe1d5;*/
	border-top: 5px solid #62A53A;
	padding-top: 10px;
}
/*middle column borders*/
.row .fp-column:nth-child(even):after{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	left: 0; 
	height: 85%; 
	width: 1px;
}
.row .fp-column:nth-child(even):before{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	right: 0; 
	height: 85%; 
	width: 1px;	
}
/*END middle column borders*/
.date{
	font-style: italic;
	display:block;
	margin-left: -5px;
}
.announcements li{
	padding-bottom: 5px;
	margin-left:5px;
}
.fp-column{
	padding:20px;
	width:33%;
	height:400px;
}
.fp-column h2{
	margin-bottom:10px;
	background-image: linear-gradient(to right, #62A53A 30%, rgba(98, 165, 58, 0) 20%);
	background-position: bottom;
	background-size: 8px 2px;
	background-repeat: repeat-x;
	line-height: 40px;
	padding-bottom:5px;
}
footer .row{
 padding:20px 0;
 background:#002145;
 color:#fff;
}
footer a{
	color:#effaf0;
}
footer a:hover{
	text-decoration: underline;
	color:#effaf0;
}
.footer-nav{
	border-top:1px solid #2f5d7c;
}
.logo-footer img{
	width:220px;
}
.center-block{
	text-align: center;
}
.footer-links li{
	border-right:1px solid #CCC;
	padding:0 5px 0 0;
}
.footer-links li:last-of-type{
	border:none;
	padding:0;
}

