.top-nav{
	background:#FFF;
}
.top-nav form{
	margin-top:3px;
}
header{
	background:#002859;
	color:#FFF;
}
header nav{
	display:block;
}
.intranet-title{
	font-size:45px;
	margin:0;
	
}
.logo{
	padding:25px;
	margin-right:20px;
	border-right:3px solid white;
	background:#002859;
}
.logo img{
	width:50px;
}
.site-nav{
	background:#FFF;
}

header h2{
	margin:19px 0 0 0;
	line-height:30px;
	font-size:22px;
}

h2{
	margin:0;
}
.toplink{
	display:block;
}

.slider{
	background: #8cc0c1;
	border:2px solid #FFF;
}
.slider .bx-wrapper {
	margin-bottom:31px;
	margin-top:31px;
}
.slider .bx-wrapper .bx-viewport{
	margin-top:30px;
	background: #8cc0c1;
	border:0;
}

.announcements{
	background: #8cc0c1;
	color:#000;
	font-size: 16px;
	padding:15px;
	border:2px solid #FFF;
}
.announcements h2{
	position:relative;
	top:-15px;
	left:-15px;
	padding:20px;
	display:inline-block;
	background:#003a40 ;
	color:#FFF;
}
.date{
	font-style: italic;
	display:block;
	margin-left: -5px;
}
.announcements li{
	padding-bottom: 5px;
	margin-left:5px;
}


.table-container {
  display: table; 
  width: 100%; 
  height: 100%; 
}
.table-row {
  display: table-row;
}


.fp-column{
	border-width:1px 1px 0 1px;
	border-color:#FFF;
	border-style:solid;
	display:table-cell;
	background:#CCC;
	padding:20px;
	width:33%;
}
.fp-column h2{
	margin-bottom:10px;
	border-bottom:1px solid teal;
}
footer .row{
 padding:20px 0;
 background:#FFF;
 border-top:1px solid #002145;
 border-bottom:1px solid #002145;;
}

.center-block{
	text-align: center;
}