*{
	font-family:"Segoe UI",Tahoma;
}
.col-xs-12{
	max-width: 1500px;
	margin:0 auto;
	float:initial;
}

.intranet-title{
	font-size:45px;
	margin:0;
	
}
.homepage-content{
	max-width: 1500px
}

body { 
  background: url(http://localhost/mednet/teams/images/bg-sun.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo{
	padding:25px;
	margin-right:20px;
	background:#002145;
}
.logo img{
	width:350px;
}

header h2{
	margin:19px 0 0 0;
	line-height:30px;
	font-size:22px;
}

h2{
	margin:0;
}
.toplink{
	display:block;
	line-height:40px;
	color:#effaf0;	
}

.staff-spotlight-container,
.announcements{
	height:400px;
}
.staff-spotlight-container img{
	float:right;
	margin:10px 0 0 20px;
}
.border-top{
	/*pale green
	border-top: 5px solid #cbe1d5;*/
	border-top: 5px solid #62A53A;
	padding-top: 10px;
}
/*middle column borders*/
.row .fp-column:nth-child(even):after{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	left: 0; 
	height: 85%; 
	width: 1px;
}
.row .fp-column:nth-child(even):before{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	right: 0; 
	height: 85%; 
	width: 1px;	
}
/*END middle column borders*/
.date{
	display:block;
	margin-left: -5px;
	display: table-cell;
	padding-right:20px;
	color:#888;
}
.details{
	display: table-cell;

}
.announcements li{
	padding-bottom: 5px;
	margin-left:5px;
}
.fp-column{
	padding:20px;
	width:33%;
	height:400px;
	overflow: hidden;
}
.btn{
	
	border-radius: 0;
}
.btn:hover{
	background: #64b63a;
	color:#fff;
	transition:background-color .2s, color .2s;
}
.read-more{
	color:#64b63a;
	border:1px solid #64b63a;
	text-transform: uppercase;
	position:absolute;
	bottom:20px;
}
.fp-column li{
	margin:10px 0;
}
.fp-column h2{
	margin-bottom:10px;
	background-image: linear-gradient(to right, #62A53A 30%, rgba(98, 165, 58, 0) 20%);
	background-position: bottom;
	background-size: 8px 2px;
	background-repeat: repeat-x;
	line-height: 40px;
	padding-bottom:5px;
}
footer .row{
 padding:20px 0;
 background:#002145;
 color:#fff;
}
footer a{
	color:#effaf0;
}
footer a:hover{
	text-decoration: underline;
	color:#effaf0;
}
.footer-nav{
	border-top:1px solid #2f5d7c;
}
.logo-footer img{
	width:220px;
}
.center-block{
	text-align: center;
}
.footer-links:first-of-type{
	margin-top:20px;
}
.footer-links li{
	border-right:1px solid #CCC;
	padding:0 5px 0 0;
}
.footer-links li:last-of-type{
	border:none;
	padding:0;
}
#unit-social-icons{
	font-size:35px;
	float:right;
}

/*SLIDER BEGIN*/
.slider{
	list-style-type: none;
	margin:0;
	padding:0;
}
.slider p{
	background:#ccc;
}
.slider-img{
	width:100%;
}
/*SLIDER END*/

.staff-spotlight-name a{
	color:#002145;
}