header{
	margin-bottom:5px;
}
.breadcrumb>li+li:before{
	content:"\003e";

}
/*top nav*/
.site-nav{
	background:#effaf0;
	margin-bottom: 0;
	border:0;
	border-top: 5px solid #fff;
}
.site-nav .navbar-nav>li>a{
	color:#0c5e79;
}
.site-nav .navbar-nav>li>a:focus,
.site-nav .navbar-nav>li>a:hover{
	background: #eee;
}
.navbar-nav li{
	/*padding:10px 0;*/
	border:0;
}
.navbar-nav a{
	color:#0c5e79;
	font-size:18px;
	font-family:"Segoe UI",Tahoma;
	text-transform: uppercase;
	border: 0;
	border-right:1px solid #C2E0BC;
	letter-spacing: 1px;
	
}
.navbar-nav li:last-of-type a{
	border:0;
}
/*end top nav*/
.faculty-title{
	margin:0;
	line-height:55px;
	font-size:22px;
}
.breadcrumb{
	background:initial;
	border-radius: 0;
	margin-bottom:0;
}
.breadcrumb a{
	color:#000;
}
.side-nav-container{
	padding-left:0;
}
.side-nav{
/*	margin-left:15px;*/
	margin-bottom:5px;
	/*background:#c6dce3;*/ /*#effaf0;*/
	background:#c6d6d0;
	background-color: #fff;
}
.side-nav a{
	color:#000;
}
.side-nav li{
	border-right:1px solid #002145;
}
.nav .sub-nav li{
}
.nav .sub-nav li a{
	padding-left: 45px;

}
.content h1{
	margin-top:5px;
	color:#002145;
}
.content{
	margin-left: 0;
}
.current{
	background:#fff;
		background:#c6d6d0;
}
.whats-new{
	background:#2e7453;
	color:#fff;
	padding:15px;
	font-weight: lighter;
	font-size: 16px;
}
.whats-new h2{
	margin-bottom:10px;
		font-weight: lighter;
}
.whats-new img{
	float:left;
	margin: 0 10px 0 0;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(38,97,68,1);
	-moz-box-shadow: 1px 1px 3px 1px rgba(38,97,68,1);
	box-shadow: 1px 1px 3px 1px rgba(38,97,68,1);

}
.whats-new dl{
	padding:0 0 0 10px;
}
.whats-new .fn{
	font-size:22px;
		font-weight: lighter;
}
.whats-new a{
	color:#fff;
	text-decoration:underline;
	white-space: true;
	word-wrap:break-all;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;	
}
.whats-new a:hover{
	color:#ccc;
}
/*hack styles, do not put these in prod*/
.ms-rte-layoutszone-outer h2{
	font-size:1.46em;
  font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  color: #0072C6;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.ms-rte-layoutszone-outer td{
	padding:0 5px 50px 5px !important;
	vertical-align: top;
}