*{
	font-family:"Segoe UI",Tahoma;
}
.branding-label{
	padding-left:5px;
}
.row-content{
	/*max-width: 1620px;
	margin:0 auto;*/
}
.row{
	/*margin: 0 !important;
	this rule fixes a wierd overlap in the nav, probably causes issues*/
}
#contentBox{
	margin:0;
}
#s4-bodyContainer{
	padding-bottom:0;
}
#s4-titlerow{
	height:0;
	padding:0;
}
.top-nav{
	background:#FFF;
}
.top-nav form{
	margin-top:3px;
}
header{
	background:#002145;
	color:#FFF;
	margin-bottom:22px
}
header nav{
	display:block;
}
.intranet-title{
    display:inline-block;
    font-size:30px;
	position:relative;
    bottom:6px;
}
.content{
	/*max-width: 1600px*/
}

.logo svg{
	width:395px;
    border-right:1px solid #2f5d7c;
	margin-right:20px;
    padding:15px 20px 0 0;
}
/*top nav*/
.site-nav{
	/*background:#effaf0;*/
	background: #3868A6;
	margin-bottom: 0;
	border:0;
}
div.site-nav{
	border-top: 2px solid #fff;
}
#top-navbar {
	background: #3868A6;
	border:0;
}
.site-nav .navbar-nav>li>a{
	/*color:#0c5e79;*/
	color:#fff;
}
.site-nav .navbar-nav>li>a:focus,
.site-nav .navbar-nav>li>a:hover{
	background: #eee;
	color:#002145;
}
.navbar-nav li{
	/*padding:10px 0;*/
	border:0;
}
.navbar-nav a{
	font-size:18px;
	font-family:"Segoe UI",Tahoma;
	text-transform: uppercase;
	border: 0;
	letter-spacing: 1px;
	margin-right:30px;
	
}
.navbar-nav li:last-of-type a{
	margin-right:0;
}
.navbar .navbar-collapse{
	padding:0;
}
.navbar .container-fluid{
	padding-left:5px;
}
/*end top nav*/
header{
	background:#002145;
	color:#FFF;
	margin-bottom:5px
}
header nav{
	display:block;
}
header .banner-logo{
	position:relative;
    padding:15px 0 10px 20px;
}
.mednet-title{
	color: #fff;
    display:block;
}
header .logo{
    display:inline-block;
}
header h2{
	margin:19px 0 0 0;
	line-height:30px;
	font-size:22px;
}

h2{
	margin:0;
}
.toplink{
	display:block;
	line-height:40px;
	color:#effaf0;	
}
#sideNavBox
{
	margin-left:20px; 
/* margin-right:20px; */
/* width:180px; */
}

.border-top{
	/*pale green
	border-top: 5px solid #cbe1d5;*/
	border-top: 5px solid #62A53A;
	padding-top: 10px;
}
/*middle column borders*/
.row .fp-column:nth-child(even):after{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	left: 0; 
	height: 85%; 
	width: 1px;
}
.row .fp-column:nth-child(even):before{
	content:""; 
	background: #62A53A; 
	position: absolute; 
	bottom: 30px; 
	right: 0; 
	height: 85%; 
	width: 1px;	
}
/*END middle column borders*/
.date{
	font-style: italic;
	display:block;
	display: table-cell;
	padding-right:20px;
	color:#888;
}
.details{
	display: table-cell;

}
.announcements li{
	padding-bottom: 5px;
	margin-left:5px;
}
footer .row{
 padding:20px 0;
 background:#002145;
 color:#fff;
}
footer a{
	color:#effaf0;
}
footer a:visited{
	color:#effaf0;
}
footer a:hover{
	text-decoration: underline;
	color:#effaf0;
}
.footer-nav{
	border-top:1px solid #2f5d7c;
}
.logo-footer #footer-logo{
	width:220px;
}
.center-block{
	text-align: center;
}
.footer-links:first-of-type{
	margin-top:20px;
}
.footer-links li{
	border-right:1px solid #CCC;
	padding:0 5px 0 0;
}
.footer-links li:last-of-type{
	border:none;
	padding:0;
}
#unit-social-icons strong{
	font-size:20px;
}
#unit-social-icons{
	font-size:35px;
	float:right;
}
a[title="Facebook icon"]:hover .fa-facebook-square:before{
	content:"\f09a";
}

/*SLIDER BEGIN*/
.slider{
	list-style-type: none;
	margin:0;
	padding:0;
}
.slider p{
	background:#ccc;
}
.slider-img{
	width:100%;
}
/*SLIDER END*/

/*xs*/
@media screen and (max-width:767px){
    /*need to zero out a lot of bootstrap*/
    header .container-fluid,
    header .row,
    header .col-xs-12{
        margin:0 auto;
        padding:0;
    }
    #ubc-logo{
    	display:none;
    }
    .top-nav{
        width:100%;
    }
    #navbar{
    	display:none;
    }
    .utility-links{
        width:100%;
        text-align: center;
    }
    .utility-links li{
        text-align:center;  
        float:none;
        display:inline-block;
        padding:0;
        margin:0;
    }
    .utility-links li + li{
        margin:0;    
    }
    .utility-links li a{
        width:30vw;
        padding:3px 0;
        margin:0;
    }
    .intranet-title{
        margin-left:15px;    
        top:15px;
    }
    .nav,
    .navbar-nav,
    .side-nav-container{
        margin:0;    
        padding:0;
    }
    .navbar-toggle{
    	padding:6px;
    	border-color: #ddd;
    }
    .navbar-toggle .icon-bar{
        width:36px;
        background-color:#888;
    }
    .site-nav .navbar-toggle:focus{
    	background: #002145;
    }

    .side-nav-container .side-nav{
        margin-bottom: 0;
    }
    #navbar .navbar-nav{
        background-color:#3868a6;
    }
    .navbar-header{
    	background:#002145;
    }

    .nav.side-nav li{
        border-right:0;
    }
    #sideNavBox{
    	display:none;
    	width:100%;
    }
	.ms-core-listMenu-selected:link,
	.ms-core-listMenu-selected:visited,
	.ms-core-listMenu-selected{
	    background-color:#c6d6d0;
	}
    .breadcrumb-container{
        margin:0;
        padding:0;
        width:100%;
    }
    .breadcrumb{
        border-top:1px solid;
        border-bottom:1px solid;
    }
    .toplink{
        width:100%;
        position:fixed;
        bottom:0;
        left:0;
        text-align:center;
        background:#002145;
        text-decoration:underline;   
        /*transition:background 300ms;*/
    }
    footer{
    	margin-top:57px;
    }
    footer .address{
        width:100%;
    }
}
@media screen and (min-width: 768px){
	#sideNavBox{
		width: 16.66666667%;
		margin:0;
		padding: 0 0 0 15px;
		border-right-width: 1px;
	    border-right-style: solid;
	    border-right-color: rgb(0, 33, 69);
	}
	#sideNavBox a{
		color:#000
	}

}
/*md*/
@media screen and (max-width:992px){
	.fp-column{
		width:100%;
	}
}
/*md-lg*/
@media screen and (max-width:1200px){

}
/*lg*/
@media screen and (min-width:1200px){

}