html,
body,
#s4-workspace,
#s4-bodyContainer,
.container,
.page-content-container {
    height:100%;
}
 
.page-content .body-text {
    max-width:970px;
}

.page-content-container {
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1355px;
    margin: 0;
}

.page-content-container > .row {
    height: 100%;
}
.no-float {
    float: none !important; 
}
.page-content-container .col-sm-2 {
    display: table-cell;
    border-right: 1px solid #ccc;
}
.page-content-container .col-sm-10 {
    display: table-cell;
}
.col-xs-12 {
    margin: 0 auto;
    float: initial;
}

* {
    font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}
iframe,
div[role="dialog"],
div[role="dialog"] *,
#suiteBar *,
#ribbonBox, 
#ribbonBox *,
.js-webpart-titleCell, 
.ms-webpart-controlBox,
.js-webpart-menuCell,
.ms-webpart-checkboxTd,
/*suggested*/
/*conflicts: ,
*[class*='ms-webpart'] *;
*/
#s4-ribbonrow *,
#s4-ribbonrow *:before,
#s4-ribbonrow *:after,
#ms-help *,
*[class*='ms-core-menu'],
*[class*='ms-dlg'],
*[class*='ms-dlg']:before,
*[class*='ms-dlg']:after,
.ms-dlgFrameContainer > div,
.ms-dlgFrameContainer > div:before,
.ms-dlgFrameContainer > div:after,
.ms-dlgFrameContainer > div > div,
.ms-dlgFrameContainer > div > div:before,
.ms-dlgFrameContainer > div > div:after,
.ms-MenuUIPopupBody,
.ms-MenuUIPopupBody:before,
.ms-MenuUIPopupBody:after,
.ms-MenuUIPopupBody *,
.ms-MenuUIPopupBody *:before,
.ms-MenuUIPopupBody *:after,
.ms-ToolPaneOuter,
.ms-ToolPaneOuter:before,
.ms-ToolPaneOuter:after,
.ms-ToolPaneOuter *,
.ms-ToolPaneOuter *:before,
.ms-ToolPaneOuter *:after,
*[class*='ms-cui'],
*[class*='ms-cui']:before,
*[class*='ms-cui']:after,
*[class*='ms-cui'] *,
*[class*='ms-cui'] *:before,
*[class*='ms-cui'] *:after,
*[class*='ms-dlg'] *,
*[class*='ms-dlg'] *:before,
*[class*='ms-dlg'] *:after,
.ms-webpart-menuLink {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.web-part-zone {
    overflow:auto;
}
h1 input[title="Title"] {
    width:100%;
}
#s4-statusbarcontainer #pageStatusBar {
    margin-bottom:0;
    padding:0;
    border:none;
}
/*make div work like p for editor*/
/*.page-content div,
.page-content .row .sidebar div*/
.ms-rtestate-field {
    margin: 0px 0px 10px 0px;
    line-height: 1.6
}
/*.page-content div[*],
.page-content div[class] {
    line-height:1.42857143;
    margin:0 -15px;
}
.page-content div[class^="col"] {
    margin:0;
}*/
.container p,
.container li,
.container span,
.container div,
.container dd,
.container td
.container strong,
.btn {
    font-size:16px;
}
.container h1 *,
.container h2 *,
.container h3 *,
.container h4 *,
.container h5 *,
.container h6 *,
.container .ms-h1 *,
.container .ms-h2 *,
.container .ms-h3 *,
.container .ms-h4 *,
.container .ms-h5 *,
.container .ms-h6  * {
    font-size:inherit;
}
a:hover,
.btn:hover {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition:    all 0.2s ease-out;
    -ms-transition:     all 0.2s ease-out; /* IE10 is actually unprefixed */
    -o-transition:      all 0.2s ease-out;
    transition:         all 0.2s ease-out;
}
a:visited {
    color:#002145;
}

/*how to add more styles 

.ms-rteStyle-border-bottom {
    -ms-name: "Border bottom";
    border-bottom:1px solid #ccc;
}
h2.ms-rteElement-SpecialHeading {
    -ms-name: "Special Heading";
    font-style: bold;
    color: green;
}*/
.btn {
    /*font-weight: bold;*/
}
.btn:hover,
.btn:hover:visited {
    background: #64b63a;
    background:#2E7453;
    background:#538B31; 
    background:#538b31;
    background:#3868a6  ;
    color:#fff;
}
/*Custom editor styles*/
.ms-rteStyle-link-item {
    -ms-name: "Link Item";  
    line-height: 28px;
    margin-left: 18px;
    color: #002145;
    display: block;
    list-style-type:none;
}
.ms-rteStyle-link-item:before {
    content:"\f0da";
    margin-right:5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0); 
}
/*Custom editor elements*/
hr.ms-rteElement-hrrl {
    -ms-name: "Horizontal Rule";
}
/*Custom editor table styles*/
table.ms-rteTable-ubctable {
    -ms-name:UBC Table Style (With Header);
}

/* all table cells (including headers) */
.ms-rteTable-ubctable td,
th.ms-rteTableFirstCol-ubctable,
th.ms-rteTableFooterFirstCol-ubctable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.ms-rteTableHeaderRow-ubctable th,
table.ms-rteTable-ubctable > tbody > tr:first-child td,
table.ms-rteTable-ubctable > tbody > tr:first-child th {
    background-color:#002144;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    text-align:left;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #002144;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #002144;
    font-weight: normal;
}
.ms-rteTable-ubctable > tbody > tr > td, 
th.ms-rteTableFirstCol-ubctable, 
th.ms-rteTableFooterFirstCol-ubctable {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ccc;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}
.ms-rteTable-ubctable > tbody > tr > td:first-child, 
th.ms-rteTableFirstCol-ubctable, 
th.ms-rteTableFooterFirstCol-ubctable {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ccc;
}
th.ms-rteTableFirstCol-ubctable, 
th.ms-rteTableFooterFirstCol-ubctable {
    font-weight: normal;
    text-align: left;
}
tr.ms-rteTableOddRow-ubctable {
    background-color: #F1F0EE;
    text-align: left;
}
tr.ms-rteTableEvenRow-ubctable {
    background-color: White;
    text-align: left;
}



h1,
.ms-h1,
.ms-rtestate-field h1, 
h1.ms-rteElement-H1,
h1.ms-rteElement-H1B {
    font-size:34px;
    color:#002145;
    text-transform:uppercase;
    font-weight:600;
}

h2,
.ms-h2,
.ms-rtestate-field h2,
h2.ms-rteElement-H2,
h2.ms-rteElement-H2B {
    color:#62a53a;
    color:#2E7453;
    color:#538B31;
    color:#4c6c3a;
    margin:20px 0 10px 0;
}


h3,
.ms-h3,
h3.ms-rteElement-H3B {
    color:#3868a6;
}
h4,
.ms-h4,
.ms-rtestate-field h4,
h4.ms-rteElement-H4,
h4.ms-rteElement-H4B {
    font-size:20px;
    line-height:28px;
    font-style:italic;
    color:#777;
}

.error-content {
    padding:15px;
}
.ms-formfieldlabel {
    text-transform: initial;
}
div.article, 
div.welcome {
    padding: 10px 50px;
}

.page-content iframe {
    width:100%;
}


#fullscreenmodebox {
    display:none !important;
}
.branding-label {
    padding-left:5px;
}
#s4-workspace {
    -webkit-overflow-scrolling: touch;
    box-sizing:content-box;
}
#contentBox {
    padding:0 0 50px 0;
    min-width:inherit;
}

#s4-titlerow {
    height:auto;
    display:block !important;
    padding-top:0;
}
.utility-links a {
    color:#002145;
}
.nav-pills>li>a {
    border-radius: 0;
}
#SearchBox {
    text-align: right;
}
.ms-qSuggest-container {
    color:#000;
    text-align: left;
}
.top-nav {
    background:#FFF;
}
.top-nav .ms-srch-sb {
    margin-top:7px;
}
.top-nav {
    background:#FFF;
}
header {
    background:#002145;
    color:#FFF;
    margin-bottom:22px
}
header nav {
    display:block;
}
.ms-srch-sb>input {
    height: auto;
    font-size: 14px;

}
.intranet-title {
    display:inline-block;
    color: #fff;
    font-size:30px;
    position:relative;
    bottom:6px;
}
header .logo {
    float:left;
    line-height:0;
}
#ubc-logo {
    width:50px;
    padding:10px 30px 20px 16px;
    box-sizing:content-box;
    border-right: 1px solid rgb(47, 93, 124);
    margin:15px 0;
}
.intranet-title span {
    font-size:18px;
    margin-left:30px;
    line-height: 26px;
    font-weight: normal;
}
header .faculty {
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .mednet-title {
    text-transform: none;
    letter-spacing: 2px;
}

/*top nav*/
.site-nav {
    /*background:#effaf0;*/
    background: #3868A6;
    margin-bottom: 0;
    border:0;
}
div.site-nav {
    border-top: 2px solid #fff;
}
#top-navbar {
    background: #3868A6;
    border:0;
}
.site-nav .navbar-nav>li>a {
    /*color:#0c5e79;*/
    color:#fff;
}
.site-nav .navbar-nav>li>a:focus,
.site-nav .navbar-nav>li>a:hover {
    background: #eee;
    color:#002145;
}
.navbar-nav li {
    /*padding:10px 0;*/
    border:0;
}
.navbar-nav a {
    font-size:18px;
    font-family:"Segoe UI",Tahoma;
    text-transform: uppercase;
    border: 0;
    letter-spacing: 1px;
    margin-right:30px;
    
}
.navbar-nav li:last-of-type a {
    margin-right:0;
}
.navbar .navbar-collapse {
    padding:0;
}
.navbar .container-fluid {
    padding-left:5px;
}
/*end top nav*/
header {
    background:#002145;
    color:#FFF;
    margin-bottom:5px
}
header nav {
    display:block;
}

.mednet-title {
    color: #fff;
    display:block;
}

header h2{
    margin:19px 0 0 0;
    line-height:30px;
    font-size:22px;
}

#sideNavBox {
    padding-bottom:50px;
}
li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, 
li > a.ms-core-listMenu-item:hover, 
li > a.ms-core-listMenu-item:active {
    background-color: rgba( 205,230,247,0.75);
    font-weight: 500;
}
.ms-core-listMenu-selected:link, 
.ms-core-listMenu-selected:visited, 
.ms-core-listMenu-selected {
    background-color: #E3E3E3;
    font-weight: 500;
}

#unit-social-icons .toplink {
    display:block;
    line-height:40px;
    color:#effaf0;
    font-size: 14px;    
}

footer {
    margin-top:13px;
}
footer .row {
 padding:20px 0;
 background:#002145;
 color:#fff;
}
footer a,
footer a:visited {
    color:#fff;
}
footer a:hover {
    text-decoration: underline;
    color:#effaf0;
}
.footer-nav {
    border-top:1px solid #2f5d7c;
}
.center-block {
    text-align: center;
}
.footer-links:first-of-type {
    margin-top:20px;
}
.footer-links li {
    border-right:1px solid #CCC;
    padding:0 5px 0 0;
}
.footer-links li:last-of-type {
    border:none;
    padding:0;
}
#unit-social-icons .social-title {
    font-size:16px;
}
#unit-social-icons {
    float:right;
}
#unit-social-icons a:hover {
    text-decoration: none;
    color:#c6d6d0;
}
#unit-social-icons a {
    font-size:35px;
}
#unit-social-icons a:first-of-type {
    margin-left:10px;
}
.top-webpart,
.mid-webpart,
.bot-webpart {
    padding:15px;
    /*width: 27.333333333334%;*/
    margin: 0 0 0 4%;
}
.top-webpart {
    padding-top: 0;
}
.top-webpart .ms-webpart-titleText {
    margin-top:0;
}
.two-column .sidebar .mid-webpart {
    background:#62A53A;
    background:#2E7453;
    background:#2DBF73;
    background:#538B31;
    background:#27A564;
    background:#0072c6;
    background:#2d4b1b;
    background:rgb(242, 248, 238);
    background:rgb(235, 241, 231);
    background:#afccb6;

    /*
    background:#2CCA9A;
    background:#28D6A2;
    background:#2CBF5E;
    */
    min-height: 0;
    color:#fff;
    color:#000;
}
.two-column .sidebar img {
    border-radius:50%;
    float:left;
    margin: 0 20px 0 0 !important;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,.3);
}
/*width issue, find out what is preventing this from 100% width*/
.bottom-wp-zones {
    display:table;
    table-layout: fixed;
    height:100%;
    width: 100%;    
    margin:0;
    /*border-spacing:15px 0;*/
}
.bottom-wp-zones div[data-name="WebPartZone"] {
    display:table-cell;
    float:none;
    margin:0 15px;
    min-width: 230px;
    overflow:auto;
}
.two-column .sidebar .mid-webpart h1,
.two-column .sidebar .mid-webpart h2,
.two-column .sidebar .mid-webpart h3,
.two-column .sidebar .mid-webpart h4{
    color:#000;
}
.two-column .mid-webpart {
    /*width:50%;*/
}

#two-col-bl,
#two-col-br {
    background:rgb(235, 241, 231);
    background:#ddd;
    border-right: 3px solid #fff;
}
#two-col-ml {
    background:rgb(242, 248, 238);
    background:#ccc;
    border-right: 3px solid #fff;
}

/*xs*/
@media screen and (max-width:767px){
    /*need to zero out a lot of bootstrap*/
    header .container-fluid,
    header .row,
    header .col-xs-12{
        margin:0 auto;
        padding:0;
    }
    #ubc-logo {
        display:none;
    }
    .top-nav {
        width:100%;
    }
    #navbar {
        display:none;
    }
    header .utility-links {
        width:100%;
        text-align: center;
        margin-top:10px;
    }
    .utility-links li {
        text-align:center;  
        float:none;
        display:inline-block;
        padding:0;
        margin:0;
    }
    .utility-links li + li {
        margin:0;    
    }
    .utility-links li a {
        width:30vw;
        padding:3px 0;
        margin:0;
    }
    .intranet-title {
        margin-left:15px;    
        top:11px;
        left:20px;
    }
    .nav,
    .navbar-nav,
    .side-nav-container {
        margin:0;    
        padding:0;
    }
    .navbar-toggle {
        min-width:48px;
        padding:6px;
        border-color: #ddd;
        margin-right:20px;
    }
    .navbar-toggle .icon-bar {
        width:36px;
        background-color:#888;
        margin-left:auto;
        margin-right:auto;
    }
    .site-nav .navbar-toggle:focus {
        background: #002145;
    }

    .side-nav-container .side-nav {
        margin-bottom: 0;
    }
    #navbar .navbar-nav {
        background-color:#3868a6;
    }
    .navbar-header {
        background:#002145;
    }

    .nav.side-nav li {
        border-right:0;
    }
    #sideNavBox {
        display:none;
        width:100%;
    }
    .ms-core-listMenu-selected:link,
    .ms-core-listMenu-selected:visited,
    .ms-core-listMenu-selected {
        background-color:#c6d6d0;
    }
    .breadcrumb-container {
        margin:0;
        padding:0;
        width:100%;
    }
    .breadcrumb {
        border-top:1px solid;
        border-bottom:1px solid;
    }
    .toplink {
        width:100%;
        /*position:fixed;*/
        bottom:0;
        left:0;
        text-align:center;
        background:#002145;
        text-decoration:underline;   
        /*transition:background 300ms;*/
    }
    footer {
        margin-top:57px;
    }
    footer .address {
        width:100%;
    }
    .ms-srch-sb {
        width:100%;
    }
    #SearchBox input {
        width:85%;
        height:30px;
        text-align: center;
    }  
    div.site-nav {
        border-top: 0;
    }  
    .ms-srch-sb-navLink,
    .ms-srch-sb-searchLink {
        vertical-align: middle;
    }
}
@media screen and (max-width: 768px){
    #top-navbar li a {
        margin-right:0;
    }
}
@media screen and (min-width: 768px){
    #sideNavBox {
        width: 16.66666667%;
        margin:0;
        padding: 0 0 0 15px;
    }
    #sideNavBox a {
        color:#000;
        /*margin-left:16px;*/
    }
/*  .ms-core-listMenu-root ul {
        padding-left:37px !important;
    }*/

}

/*tbody,table,td,tr {
    display:inline !important;
}*/
/*md*/
@media screen and (max-width:992px){

    .page-content {
        border:0;
        width:100%;
    }
    #top-navbar li {
        display: block;
    }   

    .bottom-wp-zones {
        display: block; 
        table-layout: auto; 
        height: auto; 
        width: auto; 
        margin: 0 -15px; 
        border-spacing:0; 
    }
    .two-column .sidebar {
        width: 100%;
        margin: 0;
    }

    .bottom-wp-zones div[data-name="WebPartZone"] {
        display: block;
        float: none;
        margin: 0;
        min-width:150px;
        border:0;
    }
    #two-col-bl,
    #two-col-ml,
    #two-col-br {
        border:0;
    }

}
/*md-lg*/
@media screen and (max-width:1200px){

}
/*lg*/
@media screen and (min-width:1200px){

}
@media screen and (min-width:768px) and (max-width:1350px){
    #top-navbar li a {
        margin:0;
    }
    #top-navbar li {
        float:none;
        display: inline-block;
    }
    #top-navbar ul {
        text-align: center;
    }
}
@media screen and (min-width:1000px) and (max-width: 1350px){
    #top-navbar li a {
        font-size:14px;
    }
}