.google-maps {
    position: relative;
    padding-bottom: 48%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.maps-block {
	margin-bottom: 30px;
}

.maps-block h3 {
    border-bottom: 1px solid #3868A6;
    margin-bottom: 15px;
    color: #3868A6;
}

